<h1>Blog Posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Date</th>
    <th>Awesomeness</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.date %></td>
    <td><%= post.awesomeness %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>

<br />

<br />

<%= link_to 'Bananas', bananas_path %>
